<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EHApp Home</title>
    <link rel="stylesheet" href="./styles/common_header_style.css">
    <link rel="stylesheet" href="./styles/common_side_panel_style.css">
    <link rel="stylesheet" href="./styles/single_organization_configuration_style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/home">EHApp</a>
            <div class="navigation_options">
                <ul>
                    <li><a href="">Discover</a></li>
                    <li><a href="/all_organizations">Configure</a></li>
                    <li><a href="">Monitor</a></li>
                    <li><a href="user_profile">Profile</a></li>
                </ul>
            </div>   
        </div>
        
        <div class="main_content">
            <div class="side_panel">
                <ul>
                    <li><a href="/all_organizations">Organizations</a></li>
                    <li><a href="/configure/apps">Apps</a></li>
                </ul>
            </div>
            <div class="organization_content">
                <div class="create_organization_form">
                    <form action="/create_organization_form" method="post">
                        <input type="text" name="organization_name" placeholder="Organization Name">
                        <button type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
