<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="./styles/register_style.css" type="text/css">
</head>
<body>
    
    <div class="container">
        <h2>Register to EHApp</h2>
        <form action="/submit-register-form" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            
            <label for ="password">Password</label>
            <input type="password" id="password" name="password">

            <label for ="repeat_password">Repeat password</label>
            <input type="password" id="repeat_password" name="repeat_password">
            
            <div class="message">
                <% if (message != "") { %>
                    <p><%= message %></p>
                <% } %>
            </div>

            <button type="submit">Submit</button>
        </form>
        <a href="/login">Already in? Login</a>
    </div>
</body>
</html>