<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EHApp Home</title>
    <link rel="stylesheet" href="../../styles/single_app_configure_style.css" type="text/css">
    <link rel="stylesheet" href="../../styles/common_header_style.css" type="text/css">
    <link rel="stylesheet" href="../../styles/common_side_panel_style.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/home">EHApp</a>
            <div class="navigation_options">
                <ul>
                    <li><a href="/search">Discover</a></li>
                    <li><a href="/all_organizations">Configure</a></li>
                    <li><a href="user_profile">Profile</a></li>
                </ul>
            </div>   
        </div>
        
        <div class="main_content">
            <div class="side_panel">
                <ul>
                    <li><a href="/all_organizations">Organizations</a></li>
                    <li><a href="/configure/apps">Apps</a></li>
                </ul>
            </div>
            <div class="application_content">
                <div class="app_data">
                    <p>App: <%= app.name %></p>
                    <p>Organization: <%= organization.name %></p>
                    <p>Date of creation: <%= app.created_at %></p>
    
                    <div class="edit_application_container">
                        <form action="/edit_organization" method="post">
                            <input type="hidden" name="organization_id" value="<%= organization.id %>">
                            <button type="submit">Edit</button>
                        </form>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</body>
</html>