.main_content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.profile {
    flex-grow: 1;
    padding: 20px;
}

.user_info {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.user_info h2 {
    margin-top: 0;
}

.user_data {
    display: flex;
    flex-direction: column;

    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;

    margin-bottom: 5px;
}

.logout_container button {
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.logout_container button:hover {
    background-color: #d32f2f;
}

.profile_edit_container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.expand_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expand_button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.profile_edit_form {
    margin-top: 20px;
}

.profile_edit_form input {
    display: block;
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile_edit_form button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.profile_edit_form button:hover {
    background-color: #45a049;
}

.delete_profile_container {
    margin-top: 20px;
}

.delete_profile_container button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.delete_profile_container button:hover {
    background-color: #d32f2f;
}

.delete_profile_container form {
    margin-top: 10px;
}

.delete_profile_container input {
    display: block;
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.delete_profile_container form button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.delete_profile_container form button:hover {
    background-color: #d32f2f;
}