body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    margin: 2vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.header a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.navigation_options {
    display: flex;
    align-items: center;
}

.navigation_options ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.navigation_options ul li {
    display: inline;
}

.navigation_options ul li a {
    color: #4caf50;
    text-decoration: none;
    font-size: 18px;
}

.navigation_options ul li a:hover {
    text-decoration: underline;
}

.main_content {
    margin-top: 20px;
}

.main_content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.event-container {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.event-container form {
    display: flex;
    align-items: center;
}

.event-container button {
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.event-container button:hover {
    background-color: #b2d1b3;
}
